<div class ="img_frame">
  <div class= "product_title"><%= format_locale_name(product) %></div>
  <% if product.image? %>
    <div class= "p_img"><%= image_tag product.image.url ,class: "img"%></div>
  <% end %>
  <% if product.available == true %>
    <div id= "available"><%= t(".available") %></div>
    <div class="field">
      <%= form.hidden_field "order[][product_id]", value: product.id %>
      <%= form.label :quantity, t(".quantity") ,id: "quantity"%>
      <%= form.number_field :quantity, name: "order[][quantity]" ,min: 0 ,max: 5, value: 0 ,required: true, id: "quantity_field" %>
    </div>
  <% else %>
    <div><%= t(".out_of_stock") %></div>
  <% end %>
</div>
