<h1> 利用規約</h1>
<h5>イタズラ行為禁止</h5>
<h5>責任取らせる</h5>
<h5>などなど</h5>
<h5>注意すべき事項</h5>
<h1>備品リスト</h1>
<br>
<br>
<br>
<!---- <section id="in_room">
  <h2>部屋にある物</h2>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
</section> ------>
<%= flash[:notice] %>
<%= form_with url: orders_path, local: true do |form| %>
  <section id="in_room">
    <h2>部屋にある物</h2>
    <div class="picture_set">
      <% @room_products.each do |product| %>
        <%= render 'order_form', product: product, form: form %>
      <% end %><!-----   each --->
    </div>
  </section>
  <section id="in_bath">
    <h2>風呂場にある物</h2>
    <div class="picture_set">
      <% @bath_products.each do |product| %>
        <%= render 'order_form', product: product, form: form %>
      <% end %>
    </div>
  </section>
  <div>
    <%= form.button "注文" %>
  </div>
<% end %><!--- form with -->
<section id="at_counter">
  <h2>カウンターでもらえます</h2>
  <div class="picture_set">
    <% @counter_products.each do |product| %>
      <h3><%= product.name %></h3>
      <% if product.image? %>
        <p><%= image_tag product.image.url %></p>
      <% end %>
    <% end %>
  </div>
</section>
