<div class= "wrapper">
  <h5><%= t(".no_damaging_behavior") %>イタズラ行為禁止</h5>
  <h5><%= t(".take_responsibility_for") %>責任取らせる</h5>
  <h5><%= t(".ect") %>などなど</h5>
  <h5><%= t(".things_to_Watch_Out_for") %>注意すべき事項</h5>
  <h1><%= t(".amenity_list") %></h1>
  <br>
  <%= form_with url: orders_path, local: true do |form| %>
    <section id="in_room">
      <h2><%= t(".Things_in_the_bedroom") %></h2>
      <div class="picture_set">
        <% @room_products.each do |product| %>
          <%= render 'order_form', product: product, form: form %>
        <% end %><!-----   each --->
      </div>
    </section>
    <section id="in_bath">
      <h2><%= t(".Things_in_the_bathroom") %></h2>
      <div class="picture_set">
        <% @bath_products.each do |product| %>
          <%= render 'order_form', product: product, form: form %>
        <% end %>
      </div>
    </section>
    <div class= "button">
      <%= form.button "注文" %>
    </div>
  <% end %><!--- form with -->
  <section id="at_counter">
    <h2> <%= t(".Things_at_the_counter") %></h2>
    <div class="picture_set">
      <% @counter_products.each do |product| %>
        <div class ="img_frame">
          <%= t(".#{product.name}") %>
          <% if product.image? %>
            <div class= "p_img"><%= image_tag product.image.url %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
<!-- ^ ----------- wrapper  ---------------->
