<h1> 利用規約</h1>
<h2>イタズラ行為禁止</h2>
<h2>責任取らせる</h2>
<h2>などなど</h2>
<h2>注意すべき事項</h2>
<h1>備品リスト</h1>
<!---- <section id="in_room">
  <h2>部屋にある物</h2>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
</section> ------>
<% @products.each do |product| %>
  <%= product.category %>
  <% if product.image? %>
    <p><%= image_tag product.image.url %></p>
  <% end %>
<% end %>
<%= image_tag 'room/pillow.jpg' %>
<%= form_with(model: @product,local: true) do |form| %>
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1 ,required: true%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<!------------------------  上がtest  ------------------------------------------------->
<!-- <h1>備品リスト</h1>
<section id="in_room">
  <h2>部屋にある物</h2>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
</section>
<section id="in_bath">
  <h2>風呂場にある物</h2>
  <div class="picture_set">
    <%= image_tag 'room/tooth_brush.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/tooth_brush.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/tooth_brush.jpg' %>
    <div class="quantity">#個</div>
  </div>
</section>
<section id="at_counter">
  <h2>カウンタでもらえます</h2>
  <div class="picture_set">
    <%= image_tag 'room/scissors.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/scissors.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/scissors.jpg' %>
    <div class="quantity">#個</div>
  </div>
</section>
<section id="to_ask">
  <h2>直接フロントにお問い合わせをしたい</h2>
  <%= link_to "お問い合わせ",  new_contact_path %>
</section> -->
