
  <div class= "polish_box">
    <ul>
      <li><%= t(".no_damaging_behavior") %></li>
      <li><%= t(".take_responsibility_for") %></li>
      <!--- <h5><%= t(".ect") %>などなど</h5> -->
      <li><%= t(".things_to_watch_out_for") %></li>
    </ul>
  </div>
  <br>
  <%= form_with url: orders_path, local: true do |form| %>
    <div id="in_room">
      <h2 class="product_category"><%= t(".Things_in_the_bedroom") %></h2>
      <div class="picture_set">
        <% @room_products.each do |product| %>
          <%= render 'order_form', product: product, form: form %>
        <% end %><!-----   each --->
      </div>
    </div>
    <div id="in_bath">
      <h2 class="product_category"><%= t(".Things_in_the_bathroom") %></h2>
      <div class="picture_set">
        <% @bath_products.each do |product| %>
          <%= render 'order_form', product: product, form: form %>
        <% end %>
      </div>
    </div>
    <div class= "button">
      <%= form.button t(".order") ,id: "order_button" %>
    </div>
  <% end %><!--- form with -->
  <div id="at_counter">
    <h2 class="product_category"><%= t(".Things_at_the_counter") %></h2>
    <div class="picture_set">
      <% @counter_products.each do |product| %>
        <div class ="img_frame" >
          <div class= "product_title"><%= t(".#{product.name}") %></div>
          <% if product.image? %>
            <div class= "p_img"><%= image_tag product.image.url ,class: "img"%></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- ^ ----------- wrapper  ---------------->
