<h1>備品リスト</h1>
<%= image_tag 'room/pillow.jpg' %>
<%= form_with(model: @product,local: true) do |form| %>
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1 ,required: true%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
