<div class= "contact_form">
  <%= form_with(url: contacts_path, scope: :contact, local: true) do |form| %>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, required: true %>
    </div>
    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, required: true %>
    </div>
    <div>
      <%= form.label :image, "画像ファイル" %>
      <%= form.file_field :image %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
