<h1>備品リスト</h1>
<section id="in_room">
  <h2>部屋にある物</h2>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/pillow.jpg' %>
    <div class="quantity">#個</div>
  </div>
</section>
<section id="in_bath">
  <h2>風呂場にある物</h2>
  <div class="picture_set">
    <%= image_tag 'room/tooth_brush.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/tooth_brush.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/tooth_brush.jpg' %>
    <div class="quantity">#個</div>
  </div>
</section>
<section id="at_counter">
  <h2>カウンタでもらえます</h2>
  <div class="picture_set">
    <%= image_tag 'room/scissors.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/scissors.jpg' %>
    <div class="quantity">#個</div>
  </div>
  <div class="picture_set">
    <%= image_tag 'room/scissors.jpg' %>
    <div class="quantity">#個</div>
  </div>
</section>
<section id="to_ask">
  <h2>直接フロントにお問い合わせをしたい</h2>
  <%= link_to "お問い合わせ",  new_contact_path %>
</section>
