<h1>新規発行</h1>
<%= form_with model: @account, local: true do |form| %>
  <div>
    <%= form.label :staff_id, "アカウント生成従業員" %>
    <%= form.collection_select(:staff_id, @generate_staffs, :id, :name) %>
    <div>
      <%= form.label :user_password_quantity, "数量" %>
      <%= form.number_field :user_password_quantity, min: 10, step: 10 , value: 50 %>
    </div>
    <div>
      <%= form.submit "発行" %>
    </div>
  </div>
<% end %>
