<div class="select_item">
  <div class="control has-icons-left">
    <div class="select is-small is-rounded">
      <div id= "select_box">
        <i class="flag-icon flag-icon-jp flag-icon-squared"></i>
        <i class="flag-icon flag-icon-gb flag-icon-squared"></i>
        <i class="flag-icon flag-icon-cn flag-icon-squared"></i>
        <i class="flag-icon flag-icon-fr flag-icon-squared"></i>
        <i class="flag-icon flag-icon-th flag-icon-squared"></i>
        <p id= "lan_select"><%= t(".selecting_language") %></p>
        <select id="selectedLocale">
          <% selectable_locale_list.each do |locale| %>
            <option value="<%= locale[:value] %>"<%= I18n.locale == locale[:value] ? ' selected' : '' %>><%= locale[:name] %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <span class="icon is-small is-left">
  </span>
</div>
<!-- <div class="session_select_item">
      <div class="control has-icons-left">
        <div class="select is-small is-rounded">
          <div id= "select_box">
            <i class="flag-icon flag-icon-jp flag-icon-squared"></i>
            <i class="flag-icon flag-icon-gb flag-icon-squared"></i>
            <i class="flag-icon flag-icon-cn flag-icon-squared"></i>
            <i class="flag-icon flag-icon-fr flag-icon-squared"></i>
            <i class="flag-icon flag-icon-th flag-icon-squared"></i>
            <p id= "lan_select"><%= t(".selecting_language") %></p>
            <select id="selectedLocale">
              <% selectable_locale_list.each do |locale| %>
                <option value="<%= locale[:value] %>"<%= I18n.locale == locale[:value] ? ' selected' : '' %>><%= locale[:name] %></option>
              <% end %>
            </select>
          </div>
        </div>
        <span class="icon is-small is-left">
        </span>
      </div> -->
