<div class= "navbar">
  <% if controller_name == "home"%>
    <div id="nav_box">
      <%= link_to t(".Logout"), destroy_user_session_path, method: :delete, class: "nav_menu"%>
      <%= link_to t(".contact_form"),new_contact_path , class: "nav_menu"%>
      <%= link_to t(".Things_at_the_counter") ,"#at_counter", class: "nav_menu" %>
      <%= link_to t(".Things_in_the_bathroom"), "#in_bath", class: "nav_menu" %>
      <%= link_to t(".Things_in_the_bedroom"), "#in_room" , class: "nav_menu" %>
      <div id="amenity_list"><%= t(".amenity_list") %></div>
    </div>
  <% elsif controller_name == "devise"%>
    <div id="nav_box">
      <%= link_to t(".Return_to_the_amenity_list"), root_path , class: "nav_menu"%>
      <%= link_to t(".contact_form"),new_contact_path , class: "nav_menu"%>
    </div>
  <% elsif controller_name == "contacts" %>
    <div id="nav_box">
      <%= link_to t(".Logout"), destroy_user_session_path, method: :delete, class: "nav_menu" %>
      <%= link_to t(".Return_to_the_amenity_list"), root_path , class: "nav_menu"%>
    </div>
  <% else %>
  <% end %>
</div>
</div>
