<div class= "navbar">
  <% if controller_name == "home"%>
    <%= link_to t(".Logout"), destroy_user_session_path, method: :delete %>
    <%= link_to t(".Things_in_the_bedroom"),{ anchor: "#in_room" } %>
    <%= link_to t(".Things_in_the_bathroom"),{ anchor:"#in_bath"} %>
    <%= link_to t(".Things_at_the_counter") ,{ anchor: "#at_counter" } %>
    <%= link_to t(".contact_form"),new_contact_path %>
  <% elsif controller_name == "devise"%>
    <%= link_to t(".Return_to_the_amenity_list"), root_path %>
    <%= link_to t(".contact_form"),new_contact_path %>
  <% elsif controller_name == "contacts" %>
    <%= link_to t(".Logout"), destroy_user_session_path, method: :delete %>
    <%= link_to t(".Return_to_the_amenity_list"), root_path %>
  <% else %>
  <% end %>
</div>
<div class="navbar-item">
  <div class="control has-icons-left">
    <div class="select is-small is-rounded">
      <select id="selectedLocale">
        <% selectable_locale_list.each do |locale| %>
          <option value="<%= locale[:value] %>"<%= I18n.locale == locale[:value] ? ' selected' : '' %>><%= locale[:name] %></option>
        <% end %>
      </select>
    </div>
    <span class="icon is-small is-left">
      <i class="fas fa-globe"></i>
    </span>
  </div>
</div>
