<!DOCTYPE html>
<html>
  <head>
    <title>HotelRoomServiceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class = "wrapper">
      <%= render "layouts/flash" %>
      <%= render "layouts/navbar" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
