<!DOCTYPE html>
<html>
  <head>
    <title>HotelRoomServiceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/flash" %>
    <div class="navbar-item">
      <div class="control has-icons-left">
        <div class="select is-small is-rounded">
          <select id="selectedLocale">
            <% selectable_locale_list.each do |locale| %>
              <option value="<%= locale[:value] %>"<%= I18n.locale == locale[:value] ? ' selected' : '' %>><%= locale[:name] %></option>
            <% end %>
          </select>
        </div>
        <span class="icon is-small is-left">
          <i class="fas fa-globe"></i>
        </span>
      </div>
    </div>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
